{
  "extends": ["@zmzhoi/eslint-config-react"],
  "rules": {
    "jest/no-focused-tests": "off",
    "jest/expect-expect": "off",
    "jest/no-done-callback": "off",
    "@typescript-eslint/no-extra-semi": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  }
}